In [1]:
import pandas as pd

import warnings
with warnings.catch_warnings():
    warnings.simplefilter("ignore")

In [2]:
data = pd.read_csv("final_data.csv")
data['ID'] = data['ID'].astype(int)
data.head()

/var/folders/g5/t835zv0x7sb7qvk1j7k7t9y40000gp/T/ipykernel_26560/427548430.py:1: DtypeWarning: Columns (13,14,15,17,23,70,71,72) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("final_data.csv")

,Index,donor_category,ID,Key_Indicator,Deceased,Constituency Code,ZIP,First Gift Date,First Gift Amount,First Gift Appeal_ID,...,Campaign Description_y,Fund ID_y,Fund Description_y,Appeal ID_y,Appeal Description_y,Luminate Online Gift ID_y,NetCommunity Online Gift ID_y,Gift Code_y,OPX Provider Description_y,OPX Provider Description_y.1
0,1,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,NaN,DM,Direct Mail - Old,98KR,98 April Renewal,NaN,NaN,NaN,NaN,NaN
1,33451,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,NaN,DM,Direct Mail - Old,00CR,00 August Renewal,NaN,NaN,NaN,NaN,NaN
2,136462,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,NaN,DM,Direct Mail - Old,03CR,03 August Renewal,NaN,NaN,NaN,NaN,NaN
3,179922,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,NaN,DM,Direct Mail - Old,04GR,04 December Renewal,NaN,NaN,NaN,NaN,NaN
4,190492,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,NaN,DM,Direct Mail - Old,04JR,04 March Renewal,NaN,NaN,NaN,NaN,NaN

Only keep total gift amount of each donor.

In [3]:
data.groupby('ID')['total_gift'].max().reset_index()

               ID  total_gift
0           27772     1380.00
1           27784    22105.00
2           27809   251457.48
3           28568  2472491.66
4           29238     1730.00
...           ...         ...
45085  9999991483       25.00
45086  9999992976       15.00
45087  9999993186       10.00
45088  9999995668        3.00
45089  9999997997       20.00

[45090 rows x 2 columns]

### Sliding window
- Use date called 'Gift Date_y' for each donation

dat = data
dat['Gift Date_y'] = pd.to_datetime(dat['Gift Date_y'])
dat['Gift Date_y']

dat.sort_values(by=['ID', 'Gift Date_y'], inplace=True)
dat.set_index('Gift Date_y', inplace=True)

annual_donation_sum = dat.groupby('ID').resample('A')['Gift Amount_y'].sum()
five_year_rolling_sum = annual_donation_sum.groupby(level='ID').rolling(window=5).sum()

five_year_rolling_sum[:100]

### Contribution over the past five years
- 2019 to 2023
- Number: 45090 unique donors -> 8304 unique donors

In [4]:
data['Gift Date_y'] = pd.to_datetime(data['Gift Date_y'])
data['Gift Date_y']

0        1998-07-01
1        1999-09-30
2        2002-09-10
3        2003-12-29
4        2004-05-10
            ...
519787   2023-06-29
519788   2023-06-30
519789   2023-06-30
519790   2023-06-30
519791   2023-06-30
Name: Gift Date_y, Length: 519792, dtype: datetime64[ns]

In [5]:
# subset data contains only the records from the year 2019
data_5yr = data[data['Gift Date_y'].dt.year >= 2019]

In [6]:
39420/len(data) # covers about 7.5% data

0.0758380275186998

Unique Donors

In [7]:
data['ID'].nunique() # 45090 unique donors

45090

In [8]:
data_5yr['ID'].nunique() # 8304 unique donors

8304

### Biggest contribution made in 5 years

In [9]:
data_5yr.groupby('ID')['Gift Amount_y'].max().reset_index()

              ID  Gift Amount_y
0          27772          25.00
1          27784         900.00
2          27809       20000.00
3          28568     2307282.26
4          29238         125.00
...          ...            ...
8299  9999991483          25.00
8300  9999992976          15.00
8301  9999993186          10.00
8302  9999995668           3.00
8303  9999997997          20.00

[8304 rows x 2 columns]

In [10]:
max_gift_per_donor = data_5yr.groupby('ID')['Gift Amount_y'].max().reset_index()

# Rename the column to indicate it's the max gift amount
max_gift_per_donor.rename(columns={'Gift Amount_y': 'Max Gift Amount Since 2019'}, inplace=True)

# Merge this back into the original DataFrame
# This will add a new column 'Max Gift Amount' to 'data'
data = pd.merge(data, max_gift_per_donor, on='ID', how='left')

In [11]:
data

,Index,donor_category,ID,Key_Indicator,Deceased,Constituency Code,ZIP,First Gift Date,First Gift Amount,First Gift Appeal_ID,...,Fund ID_y,Fund Description_y,Appeal ID_y,Appeal Description_y,Luminate Online Gift ID_y,NetCommunity Online Gift ID_y,Gift Code_y,OPX Provider Description_y,OPX Provider Description_y.1,Max Gift Amount Since 2019
0,1,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,DM,Direct Mail - Old,98KR,98 April Renewal,NaN,NaN,NaN,NaN,NaN,NaN
1,33451,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,DM,Direct Mail - Old,00CR,00 August Renewal,NaN,NaN,NaN,NaN,NaN,NaN
2,136462,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,DM,Direct Mail - Old,03CR,03 August Renewal,NaN,NaN,NaN,NaN,NaN,NaN
3,179922,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,DM,Direct Mail - Old,04GR,04 December Renewal,NaN,NaN,NaN,NaN,NaN,NaN
4,190492,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,DM,Direct Mail - Old,04JR,04 March Renewal,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519787,519643,low donor,1274319,I,No,Individual,60521,6/29/23,$560.00,LCIFY23,...,700 LCIG,Little City Invitational,LCIFY23,Little City Invitational Golf Tournament FY23,OneCause,NaN,NaN,NaN,NaN,560.0
519788,519706,low donor,1262892,I,No,Parent/Family/Guardian,60193,6/30/23,$54.00,JUN23Re,...,700 FUND,General Contribution,JUN23Re,June 2023 Appeal Online,1234 Fake Importacular,NaN,NaN,NaN,NaN,54.0
519789,519720,low donor,1274321,I,No,Individual,60623,6/30/23,$150.00,Tribute Gifts FY23,...,700 FUND,General Contribution,Tribute Gifts FY23,Tribute Gifts FY23,NaN,NaN,NaN,NaN,NaN,150.0
519790,519728,low donor,1274320,I,No,Individual,NaN,6/30/23,$54.00,WEB General FY23,...,700 FUND,General Contribution,WEB General FY23,WEB General Donation FY23,1234 Fake Importacular,NaN,NaN,NaN,NaN,54.0
519791,519792,low donor,1269332,O,No,Business/Corporation,60532,9/30/19,$100.00,AUG20N,...,700 FUND,General Contribution,JUN23R,June 2023 Appeal,NaN,NaN,NaN,NaN,NaN,75.0

In [12]:
#data_5yr['Rank_Max'] = data_5yr['Gift Amount_y'].rank(ascending=False, method='max')
#top_100 = data_5yr[data_5yr['Rank_Max'] <= 100]

# Sort the DataFrame by 'Rank'
#top_100_sorted = top_100.sort_values(by='Rank_Max')

# Reset the index of the sorted DataFrame
#top_100_sorted.reset_index(drop=True)

### Smallest contribution made in 5 years

In [13]:
data_5yr.groupby('ID')['Gift Amount_y'].min().reset_index()

              ID  Gift Amount_y
0          27772          10.00
1          27784          50.00
2          27809          27.15
3          28568           1.00
4          29238          50.00
...          ...            ...
8299  9999991483          25.00
8300  9999992976          15.00
8301  9999993186          10.00
8302  9999995668           3.00
8303  9999997997          20.00

[8304 rows x 2 columns]

In [14]:
min_gift_per_donor = data_5yr.groupby('ID')['Gift Amount_y'].min().reset_index()

# Rename the column to indicate it's the max gift amount
min_gift_per_donor.rename(columns={'Gift Amount_y': 'Min Gift Amount Since 2019'}, inplace=True)

# Merge this back into the original DataFrame
# This will add a new column 'Max Gift Amount' to 'data'
data = pd.merge(data, min_gift_per_donor, on='ID', how='left')

In [15]:
data

,Index,donor_category,ID,Key_Indicator,Deceased,Constituency Code,ZIP,First Gift Date,First Gift Amount,First Gift Appeal_ID,...,Fund Description_y,Appeal ID_y,Appeal Description_y,Luminate Online Gift ID_y,NetCommunity Online Gift ID_y,Gift Code_y,OPX Provider Description_y,OPX Provider Description_y.1,Max Gift Amount Since 2019,Min Gift Amount Since 2019
0,1,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,Direct Mail - Old,98KR,98 April Renewal,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,33451,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,Direct Mail - Old,00CR,00 August Renewal,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,136462,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,Direct Mail - Old,03CR,03 August Renewal,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,179922,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,Direct Mail - Old,04GR,04 December Renewal,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,190492,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,Direct Mail - Old,04JR,04 March Renewal,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519787,519643,low donor,1274319,I,No,Individual,60521,6/29/23,$560.00,LCIFY23,...,Little City Invitational,LCIFY23,Little City Invitational Golf Tournament FY23,OneCause,NaN,NaN,NaN,NaN,560.0,100.0
519788,519706,low donor,1262892,I,No,Parent/Family/Guardian,60193,6/30/23,$54.00,JUN23Re,...,General Contribution,JUN23Re,June 2023 Appeal Online,1234 Fake Importacular,NaN,NaN,NaN,NaN,54.0,54.0
519789,519720,low donor,1274321,I,No,Individual,60623,6/30/23,$150.00,Tribute Gifts FY23,...,General Contribution,Tribute Gifts FY23,Tribute Gifts FY23,NaN,NaN,NaN,NaN,NaN,150.0,150.0
519790,519728,low donor,1274320,I,No,Individual,NaN,6/30/23,$54.00,WEB General FY23,...,General Contribution,WEB General FY23,WEB General Donation FY23,1234 Fake Importacular,NaN,NaN,NaN,NaN,54.0,54.0
519791,519792,low donor,1269332,O,No,Business/Corporation,60532,9/30/19,$100.00,AUG20N,...,General Contribution,JUN23R,June 2023 Appeal,NaN,NaN,NaN,NaN,NaN,75.0,75.0

## Their favorite event (most attended event)

- Use ID to identify each unique donor

event_columns = [
    'event_annual giving', 'event_book sale', 'event_budget cut emergency appeal', 'event_calendar',
    'event_circle of love', 'event_direct mail', 'event_donor campaign', 'event_face labels',
    'event_general operating budget', 'event_golf', 'event_holiday appeal opening doors', 'event_holiday cards',
    'event_holiday mailing', 'event_little city invitational', 'event_newsletter', 'event_parent',
    'event_pledge', 'event_raffle', 'event_renewal', 'event_residential services', 'event_ride for smiles',
    'event_santa stickers', 'event_smiles campaign', 'event_teddy bear', 'event_university of illinois work place giving', 
    'event_verne carson'

In [16]:
data['ID'] = data['ID'].astype(int)

In [17]:
event_columns = ['event_annual giving', 'event_book sale', 'event_budget cut emergency appeal', 'event_calendar', 'event_circle of love', 'event_direct mail', 'event_donor campaign', 'event_face labels', 'event_general operating budget', 'event_golf', 'event_holiday appeal opening doors', 'event_holiday cards', 'event_holiday mailing', 'event_little city invitational', 'event_newsletter', 'event_parent', 'event_pledge', 'event_raffle', 'event_renewal', 'event_residential services', 'event_ride for smiles', 'event_santa stickers', 'event_smiles campaign', 'event_teddy bear', 'event_university of illinois work place giving', 'event_verne carson' ]

# Create a new DataFrame with only ID and event columns
df_events = data[['ID'] + event_columns]

# Group by 'ID' and sum each event column
event_counts_per_donor = df_events.groupby('ID').sum()

event_counts_per_donor

,event_annual giving,event_book sale,event_budget cut emergency appeal,event_calendar,event_circle of love,event_direct mail,event_donor campaign,event_face labels,event_general operating budget,event_golf,...,event_pledge,event_raffle,event_renewal,event_residential services,event_ride for smiles,event_santa stickers,event_smiles campaign,event_teddy bear,event_university of illinois work place giving,event_verne carson
ID,,,,,,,,,,,,,,,,,,,,,
27772,5,1,0,0,4,30,0,0,7,4,...,3,1,7,0,0,0,0,1,0,1
27784,35,0,0,1,10,23,0,0,16,5,...,0,1,5,0,0,0,0,0,1,0
27809,23,0,2,0,6,25,0,0,10,2,...,0,1,1,1,0,0,0,0,1,0
28568,7,0,1,1,2,6,0,0,5,0,...,1,0,2,0,0,0,0,0,0,0
29238,3,0,0,1,4,4,0,0,7,0,...,0,0,3,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9999991483,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999992976,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999993186,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999995668,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999997997,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Subcategory of events

In [18]:
results_list = []

# Iterate over each row in event_counts_per_donor
for index, row in event_counts_per_donor.iterrows():
    # Find the maximum value and the corresponding event name
    max_event_count = row.max()
    max_event = row.idxmax()

    # Add to the results list
    results_list.append({'ID': index, 'MaxEvent': max_event, 'MaxEventCount': max_event_count})

# Convert the list of dictionaries to a DataFrame
results_sub = pd.DataFrame(results_list)

In [19]:
results_sub

               ID                        MaxEvent  MaxEventCount
0           27772               event_direct mail             30
1           27784             event_annual giving             35
2           27809               event_direct mail             25
3           28568             event_annual giving              7
4           29238  event_general operating budget              7
...           ...                             ...            ...
45085  9999991483             event_annual giving              1
45086  9999992976             event_annual giving              1
45087  9999993186             event_annual giving              1
45088  9999995668             event_annual giving              1
45089  9999997997             event_annual giving              1

[45090 rows x 3 columns]

In [20]:
results_sub.rename(columns={'MaxEvent': 'Max Sub Event Attended'}, inplace=True)
data = pd.merge(data, results_sub[['ID','Max Sub Event Attended']], on='ID', how='left')
data

,Index,donor_category,ID,Key_Indicator,Deceased,Constituency Code,ZIP,First Gift Date,First Gift Amount,First Gift Appeal_ID,...,Appeal ID_y,Appeal Description_y,Luminate Online Gift ID_y,NetCommunity Online Gift ID_y,Gift Code_y,OPX Provider Description_y,OPX Provider Description_y.1,Max Gift Amount Since 2019,Min Gift Amount Since 2019,Max Sub Event Attended
0,1,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,98KR,98 April Renewal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,event_general operating budget
1,33451,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,00CR,00 August Renewal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,event_general operating budget
2,136462,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,03CR,03 August Renewal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,event_general operating budget
3,179922,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,04GR,04 December Renewal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,event_general operating budget
4,190492,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,04JR,04 March Renewal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,event_general operating budget
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519787,519643,low donor,1274319,I,No,Individual,60521,6/29/23,$560.00,LCIFY23,...,LCIFY23,Little City Invitational Golf Tournament FY23,OneCause,NaN,NaN,NaN,NaN,560.0,100.0,event_annual giving
519788,519706,low donor,1262892,I,No,Parent/Family/Guardian,60193,6/30/23,$54.00,JUN23Re,...,JUN23Re,June 2023 Appeal Online,1234 Fake Importacular,NaN,NaN,NaN,NaN,54.0,54.0,event_newsletter
519789,519720,low donor,1274321,I,No,Individual,60623,6/30/23,$150.00,Tribute Gifts FY23,...,Tribute Gifts FY23,Tribute Gifts FY23,NaN,NaN,NaN,NaN,NaN,150.0,150.0,event_annual giving
519790,519728,low donor,1274320,I,No,Individual,NaN,6/30/23,$54.00,WEB General FY23,...,WEB General FY23,WEB General Donation FY23,1234 Fake Importacular,NaN,NaN,NaN,NaN,54.0,54.0,event_annual giving
519791,519792,low donor,1269332,O,No,Business/Corporation,60532,9/30/19,$100.00,AUG20N,...,JUN23R,June 2023 Appeal,NaN,NaN,NaN,NaN,NaN,75.0,75.0,event_newsletter

### Major category of events

In [21]:
annual_giving_events = ['event_annual giving', 'event_teddy bear', 'event_book sale', 'event_parent', 'event_general operating budget']
direct_mail_events = ['event_direct mail', 'event_circle of love', 'event_newsletter', 'event_pledge', 
                      'event_santa stickers', 'event_smiles campaign', 'event_holiday mailing', 
                      'event_verne carson', 'event_face labels', 'event_calendar', 'event_holiday cards', 'event_renewal', 'event_donor campaign']
golf_events = ['event_little city invitational']

In [22]:
event_counts_per_donor['annual_giving'] = event_counts_per_donor[annual_giving_events].sum(axis=1)
event_counts_per_donor['direct_mail'] = event_counts_per_donor[direct_mail_events].sum(axis=1)
event_counts_per_donor['golf'] = event_counts_per_donor[golf_events].sum(axis=1)
major_events_per_donor = event_counts_per_donor[['annual_giving','direct_mail','golf']]
major_events_per_donor

            annual_giving  direct_mail  golf
ID
27772                  14           58     0
27784                  51           59     3
27809                  37           53     0
28568                  13           18     0
29238                  10           15     0
...                   ...          ...   ...
9999991483              1            0     0
9999992976              1            0     0
9999993186              1            0     0
9999995668              1            0     0
9999997997              1            0     0

[45090 rows x 3 columns]

In [23]:
results_list = []

# Iterate over each row in event_counts_per_donor
for index, row in major_events_per_donor.iterrows():
    # Find the maximum value and the corresponding event name
    max_event_count = row.max()
    max_event = row.idxmax()

    # Add to the results list
    results_list.append({'ID': index, 'MaxEvent': max_event, 'MaxEventCount': max_event_count})

# Convert the list of dictionaries to a DataFrame
results_major = pd.DataFrame(results_list)
results_major

               ID       MaxEvent  MaxEventCount
0           27772    direct_mail             58
1           27784    direct_mail             59
2           27809    direct_mail             53
3           28568    direct_mail             18
4           29238    direct_mail             15
...           ...            ...            ...
45085  9999991483  annual_giving              1
45086  9999992976  annual_giving              1
45087  9999993186  annual_giving              1
45088  9999995668  annual_giving              1
45089  9999997997  annual_giving              1

[45090 rows x 3 columns]

In [24]:
results_major.rename(columns={'MaxEvent': 'Max Major Event Attended'}, inplace=True)
data = pd.merge(data, results_major[['ID','Max Major Event Attended']], on='ID', how='left')
data

,Index,donor_category,ID,Key_Indicator,Deceased,Constituency Code,ZIP,First Gift Date,First Gift Amount,First Gift Appeal_ID,...,Appeal Description_y,Luminate Online Gift ID_y,NetCommunity Online Gift ID_y,Gift Code_y,OPX Provider Description_y,OPX Provider Description_y.1,Max Gift Amount Since 2019,Min Gift Amount Since 2019,Max Sub Event Attended,Max Major Event Attended
0,1,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,98 April Renewal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,event_general operating budget,direct_mail
1,33451,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,00 August Renewal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,event_general operating budget,direct_mail
2,136462,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,03 August Renewal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,event_general operating budget,direct_mail
3,179922,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,04 December Renewal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,event_general operating budget,direct_mail
4,190492,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,04 March Renewal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,event_general operating budget,direct_mail
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519787,519643,low donor,1274319,I,No,Individual,60521,6/29/23,$560.00,LCIFY23,...,Little City Invitational Golf Tournament FY23,OneCause,NaN,NaN,NaN,NaN,560.0,100.0,event_annual giving,annual_giving
519788,519706,low donor,1262892,I,No,Parent/Family/Guardian,60193,6/30/23,$54.00,JUN23Re,...,June 2023 Appeal Online,1234 Fake Importacular,NaN,NaN,NaN,NaN,54.0,54.0,event_newsletter,direct_mail
519789,519720,low donor,1274321,I,No,Individual,60623,6/30/23,$150.00,Tribute Gifts FY23,...,Tribute Gifts FY23,NaN,NaN,NaN,NaN,NaN,150.0,150.0,event_annual giving,annual_giving
519790,519728,low donor,1274320,I,No,Individual,NaN,6/30/23,$54.00,WEB General FY23,...,WEB General Donation FY23,1234 Fake Importacular,NaN,NaN,NaN,NaN,54.0,54.0,event_annual giving,annual_giving
519791,519792,low donor,1269332,O,No,Business/Corporation,60532,9/30/19,$100.00,AUG20N,...,June 2023 Appeal,NaN,NaN,NaN,NaN,NaN,75.0,75.0,event_newsletter,direct_mail

In [25]:
data.to_csv('data_FE.csv', index=False)