FE: 
1. type of event each
2. exactly how many event
3. longest consecutive years person docated
4. Average event they attended per year
5. How many different zip codes did they donate from(willingness to travel)
6. Major counties(5 major counties, domestic, foreign)
7. Biggest contribution made ever
8. Smallest contribution made ever

**9. Biggest contribution made in 5 years**

**10. Smallest contribution made in 5 years**

**11. Their favorite event(most attended event)**

12. Level of donor based on sum of their donation

In [33]:
import pandas as pd
data = pd.read_csv("final_data.csv")

import warnings
with warnings.catch_warnings():
    warnings.simplefilter("ignore")

/var/folders/g5/t835zv0x7sb7qvk1j7k7t9y40000gp/T/ipykernel_126/2662060490.py:2: DtypeWarning: Columns (13,14,15,17,23,70,71,72) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("final_data.csv")

In [34]:
data['ID'] = data['ID'].astype(int)
data

,Index,donor_category,ID,Key_Indicator,Deceased,Constituency Code,ZIP,First Gift Date,First Gift Amount,First Gift Appeal_ID,...,Campaign Description_y,Fund ID_y,Fund Description_y,Appeal ID_y,Appeal Description_y,Luminate Online Gift ID_y,NetCommunity Online Gift ID_y,Gift Code_y,OPX Provider Description_y,OPX Provider Description_y.1
0,1,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,NaN,DM,Direct Mail - Old,98KR,98 April Renewal,NaN,NaN,NaN,NaN,NaN
1,33451,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,NaN,DM,Direct Mail - Old,00CR,00 August Renewal,NaN,NaN,NaN,NaN,NaN
2,136462,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,NaN,DM,Direct Mail - Old,03CR,03 August Renewal,NaN,NaN,NaN,NaN,NaN
3,179922,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,NaN,DM,Direct Mail - Old,04GR,04 December Renewal,NaN,NaN,NaN,NaN,NaN
4,190492,low donor,1026027,I,No,Individual,60453-5343,12/3/93,$5.00,94EA,...,NaN,DM,Direct Mail - Old,04JR,04 March Renewal,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519787,519643,low donor,1274319,I,No,Individual,60521,6/29/23,$560.00,LCIFY23,...,Special Events - 4100,700 LCIG,Little City Invitational,LCIFY23,Little City Invitational Golf Tournament FY23,OneCause,NaN,NaN,NaN,NaN
519788,519706,low donor,1262892,I,No,Parent/Family/Guardian,60193,6/30/23,$54.00,JUN23Re,...,Individual Giving - 4001,700 FUND,General Contribution,JUN23Re,June 2023 Appeal Online,1234 Fake Importacular,NaN,NaN,NaN,NaN
519789,519720,low donor,1274321,I,No,Individual,60623,6/30/23,$150.00,Tribute Gifts FY23,...,Individual Giving - 4001,700 FUND,General Contribution,Tribute Gifts FY23,Tribute Gifts FY23,NaN,NaN,NaN,NaN,NaN
519790,519728,low donor,1274320,I,No,Individual,NaN,6/30/23,$54.00,WEB General FY23,...,Individual Giving - 4001,700 FUND,General Contribution,WEB General FY23,WEB General Donation FY23,1234 Fake Importacular,NaN,NaN,NaN,NaN
519791,519792,low donor,1269332,O,No,Business/Corporation,60532,9/30/19,$100.00,AUG20N,...,Corporations & Foundations Contributions - 4005,700 FUND,General Contribution,JUN23R,June 2023 Appeal,NaN,NaN,NaN,NaN,NaN

In [11]:
data.columns

Index(['Index', 'donor_category', 'ID', 'Key_Indicator', 'Deceased',
       'Constituency Code', 'ZIP', 'First Gift Date', 'First Gift Amount',
       'First Gift Appeal_ID', 'First Gift Appeal Description',
       'Solicit Code1', 'Solicit Code2', 'Solicit Code3', 'Solicit Code4',
       'Solicit Code5', 'Total Gift Amount', 'cleaned_zip_codes', 'location',
       'total_gift', 'Total Gift Times', 'concatenated', 'matching_event',
       'newsletter_sub', 'tag_annual giving', 'tag_direct mail', 'tag_golf',
       'event_annual giving', 'event_book sale',
       'event_budget cut emergency appeal', 'event_calendar',
       'event_circle of love', 'event_direct mail', 'event_donor campaign',
       'event_face labels', 'event_general operating budget', 'event_golf',
       'event_holiday appeal opening doors', 'event_holiday cards',
       'event_holiday mailing', 'event_little city invitational',
       'event_newsletter', 'event_parent', 'event_pledge', 'event_raffle',
       'event_renewal', 'event_residential services', 'event_ride for smiles',
       'event_santa stickers', 'event_smiles campaign', 'event_teddy bear',
       'event_university of illinois work place giving', 'event_verne carson',
       'Direct Mail', 'Renewal', 'Key Indicator_y', 'Constituent ID_y',
       'Gift Date_y', 'Gift Amount_y', 'Appeal Split Amount_y', 'Gift Type_y',
       'Category_y', 'Campaign ID_y', 'Campaign Description_y', 'Fund ID_y',
       'Fund Description_y', 'Appeal ID_y', 'Appeal Description_y',
       'Luminate Online Gift ID_y', 'NetCommunity Online Gift ID_y',
       'Gift Code_y', 'OPX Provider Description_y',
       'OPX Provider Description_y.1'],
      dtype='object')

## Their favorite event (most attended event)

- Use ID to identify each unique donor

event_columns = [
    'event_annual giving', 'event_book sale', 'event_budget cut emergency appeal', 'event_calendar',
    'event_circle of love', 'event_direct mail', 'event_donor campaign', 'event_face labels',
    'event_general operating budget', 'event_golf', 'event_holiday appeal opening doors', 'event_holiday cards',
    'event_holiday mailing', 'event_little city invitational', 'event_newsletter', 'event_parent',
    'event_pledge', 'event_raffle', 'event_renewal', 'event_residential services', 'event_ride for smiles',
    'event_santa stickers', 'event_smiles campaign', 'event_teddy bear', 'event_university of illinois work place giving', 
    'event_verne carson'
]

In [38]:
event_columns = ['event_annual giving', 'event_book sale', 'event_budget cut emergency appeal', 'event_calendar', 'event_circle of love', 'event_direct mail', 'event_donor campaign', 'event_face labels', 'event_general operating budget', 'event_golf', 'event_holiday appeal opening doors', 'event_holiday cards', 'event_holiday mailing', 'event_little city invitational', 'event_newsletter', 'event_parent', 'event_pledge', 'event_raffle', 'event_renewal', 'event_residential services', 'event_ride for smiles', 'event_santa stickers', 'event_smiles campaign', 'event_teddy bear', 'event_university of illinois work place giving', 'event_verne carson' ]

# Create a new DataFrame with only ID and event columns
df_events = data[['ID'] + event_columns]

# Group by 'ID' and sum each event column
event_counts_per_donor = df_events.groupby('ID').sum()

event_counts_per_donor

,event_annual giving,event_book sale,event_budget cut emergency appeal,event_calendar,event_circle of love,event_direct mail,event_donor campaign,event_face labels,event_general operating budget,event_golf,...,event_pledge,event_raffle,event_renewal,event_residential services,event_ride for smiles,event_santa stickers,event_smiles campaign,event_teddy bear,event_university of illinois work place giving,event_verne carson
ID,,,,,,,,,,,,,,,,,,,,,
27772,5,1,0,0,4,30,0,0,7,4,...,3,1,7,0,0,0,0,1,0,1
27784,35,0,0,1,10,23,0,0,16,5,...,0,1,5,0,0,0,0,0,1,0
27809,23,0,2,0,6,25,0,0,10,2,...,0,1,1,1,0,0,0,0,1,0
28568,7,0,1,1,2,6,0,0,5,0,...,1,0,2,0,0,0,0,0,0,0
29238,3,0,0,1,4,4,0,0,7,0,...,0,0,3,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9999991483,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999992976,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999993186,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999995668,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999997997,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Subcategory of events

In [40]:
results_list = []

# Iterate over each row in event_counts_per_donor
for index, row in event_counts_per_donor.iterrows():
    # Find the maximum value and the corresponding event name
    max_event_count = row.max()
    max_event = row.idxmax()

    # Add to the results list
    results_list.append({'ID': index, 'MaxEvent': max_event, 'MaxEventCount': max_event_count})

# Convert the list of dictionaries to a DataFrame
results_sub = pd.DataFrame(results_list)

# Display the results
results_sub[:100]

         ID                        MaxEvent  MaxEventCount
0     27772               event_direct mail             30
1     27784             event_annual giving             35
2     27809               event_direct mail             25
3     28568             event_annual giving              7
4     29238  event_general operating budget              7
..      ...                             ...            ...
95  1002696                event_newsletter              1
96  1002727             event_annual giving              1
97  1002728               event_direct mail              5
98  1002741               event_direct mail            114
99  1002773                  event_calendar              1

[100 rows x 3 columns]

### Major category of events¶

In [41]:
annual_giving_events = ['event_annual giving', 'event_teddy bear', 'event_book sale', 'event_parent', 'event_general operating budget']
direct_mail_events = ['event_direct mail', 'event_circle of love', 'event_newsletter', 'event_pledge', 
                      'event_santa stickers', 'event_smiles campaign', 'event_holiday mailing', 
                      'event_verne carson', 'event_face labels', 'event_calendar', 'event_holiday cards', 'event_renewal', 'event_donor campaign']
golf_events = ['event_little city invitational']

In [42]:
event_counts_per_donor['annual_giving'] = event_counts_per_donor[annual_giving_events].sum(axis=1)
event_counts_per_donor['direct_mail'] = event_counts_per_donor[direct_mail_events].sum(axis=1)
event_counts_per_donor['golf'] = event_counts_per_donor[golf_events].sum(axis=1)
major_events_per_donor = event_counts_per_donor[['annual_giving','direct_mail','golf']]
major_events_per_donor

            annual_giving  direct_mail  golf
ID
27772                  14           58     0
27784                  51           59     3
27809                  37           53     0
28568                  13           18     0
29238                  10           15     0
...                   ...          ...   ...
9999991483              1            0     0
9999992976              1            0     0
9999993186              1            0     0
9999995668              1            0     0
9999997997              1            0     0

[45090 rows x 3 columns]

In [44]:
results_list = []

# Iterate over each row in event_counts_per_donor
for index, row in major_events_per_donor.iterrows():
    # Find the maximum value and the corresponding event name
    max_event_count = row.max()
    max_event = row.idxmax()

    # Add to the results list
    results_list.append({'ID': index, 'MaxEvent': max_event, 'MaxEventCount': max_event_count})

# Convert the list of dictionaries to a DataFrame
results_major = pd.DataFrame(results_list)

# Display the results
results_major[:100]

         ID       MaxEvent  MaxEventCount
0     27772    direct_mail             58
1     27784    direct_mail             59
2     27809    direct_mail             53
3     28568    direct_mail             18
4     29238    direct_mail             15
..      ...            ...            ...
95  1002696    direct_mail              1
96  1002727  annual_giving              2
97  1002728    direct_mail              5
98  1002741    direct_mail            135
99  1002773  annual_giving              1

[100 rows x 3 columns]

In [48]:
results_major.dtypes

ID                int64
MaxEvent         object
MaxEventCount     int64
dtype: object

### Donors who only attend the event at most once.
- Interesting: MaxEventCount=0 means donor doesn't attend any event but make an donation
- show some degree of loyalty or interest -> marketing focus

In [50]:
results_major[results_major['MaxEventCount']==0]

               ID       MaxEvent  MaxEventCount
61        1001156  annual_giving              0
62        1001194  annual_giving              0
63        1001196  annual_giving              0
74        1001816  annual_giving              0
77        1001866  annual_giving              0
...           ...            ...            ...
45016  9999959664  annual_giving              0
45031  9999964911  annual_giving              0
45033  9999966727  annual_giving              0
45041  9999974130  annual_giving              0
45072  9999985907  annual_giving              0

[2929 rows x 3 columns]

In [51]:
results_major[results_major['MaxEventCount']==1]

               ID       MaxEvent  MaxEventCount
10        1000042  annual_giving              1
13        1000087    direct_mail              1
16        1000104    direct_mail              1
21        1000159  annual_giving              1
32        1000306    direct_mail              1
...           ...            ...            ...
45085  9999991483  annual_giving              1
45086  9999992976  annual_giving              1
45087  9999993186  annual_giving              1
45088  9999995668  annual_giving              1
45089  9999997997  annual_giving              1

[12224 rows x 3 columns]